<section class="devices-page">
  <div class="devices-page__header">
    <h1 class="devices-page__title">Устройства</h1>
  </div>

  @if (isLoading()) {
    <div class="devices-page__loading">Загрузка списка...</div>
  } @else if (hasError()) {
    <div class="devices-page__error">Ошибка загрузки устройств</div>
  } @else {
    @if (devices().length === 0) {
      <div class="devices-page__empty">Устройств нет</div>
    } @else {
      <ul class="devices-list" role="list">
        @for (device of devices(); track device.deviceName) {
          <li class="devices-list__item">
            <a
              [routerLink]="['/devices', device.deviceName]"
              class="devices-list__link"
            >
              {{ device.deviceName }}
            </a>
          </li>
        }
      </ul>
    }
  }
</section>